NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xsd:element name="NationalParks" type="NationalParksType"/>

  <!-- Type for the root element containing multiple NationalPark entries -->
  <xsd:complexType name="NationalParksType">
    <xsd:sequence>
      <xsd:element name="NationalPark" type="NationalParkType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Type for each NationalPark entry -->
  <xsd:complexType name="NationalParkType">
    <xsd:sequence>
      <xsd:element name="Name"    type="xsd:string"  minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Phone"   type="xsd:string"  minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
  </xsd:complexType>

  <!-- Type for the Address element -->
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="City"   type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="State"  type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Zip"    type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
  </xsd:complexType>

</xsd:schema>
